.DS_Store
node_modules
/dist
.firebase
.firebaserc
.database

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Admin

*~
*.diff
*.patch
.DS_Store
.project
.settings
.idea
.vscode
.env
composer.lock
package-lock.json
admin/lib
admin
admin/storage
/config/*
/tests/*
/node_modules
addons/
!.gitignore
!.gitkeep
!/storage/*/index.html
!/storage/*/.htaccess
defines.php
# Sublime Text
*.sublime-workspace
*.sublime-project

