.page-detail {
  --delay-index: 0;

  .page__content,
  .page__subtitle,
  .page__title {
    opacity: 0;
    transition: $transition--bezier;
    transform: translate3d(0, 22px, 0);
  }
  .page__content {
    transition-delay: .1s;
  }

  .header__subtitle {
    transition-delay: .1s;
  }

  &.loaded {
    .page__content,
    .page__subtitle,
    .page__title{
      opacity: 1;
      transform: translate3d(0, 0px, 0);
    }
  }
}
