.page-home {
  --delay-index: 0;

  .header__subtitle,
  .header__title,
  .timetable__card:not([active='true']),
  .timetable__title {
    opacity: 0;
    transition: $transition--bezier;
    transform: translate3d(0, 22px, 0);
  }

  .timetable__title {
    transition-delay: .2s;
  }

  .header__subtitle {
    transition-delay: .1s;
  }
  
  .timetable__card:not([active='true']){
    transition-delay: .25s;
    transition-duration: 1s !important;
  }

  &.loaded {
    .header__subtitle,
    .header__title,
    .timetable__card:not([active='true']),
    .timetable__title {
      opacity: 1;
      transform: translate3d(0, 0px, 0);
    }
  }
}
