.article {
  blockquote {
    margin: $gutter--lg*5 0 $gutter--lg*5 -200px;
  }

  &__title {
    padding-bottom: 100px;
  }
  
  
  p {
    margin-bottom: 1.25em;
  }
  
  article {
    margin-bottom: 100px;
  }
  
  &--section {
    margin: 100px auto;
    .slider {
      margin-right: calc(-100vw / 2 + 1200px / 2);
    }
    // padding-left: calc((100% - 1200px)/2);
    // max-width: 100%;
  }

}

@keyframes articleTransition {
  from {
    transform: translateY(100px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

article {
  
  & > * {
    animation: .5s articleTransition cubic-bezier(.2, 0, 0, 1);
    animation-delay: calc(var(--staggerIndex) * .1s  + .5s);
    animation-fill-mode: both;
  }
}