.card {
  padding: $gutter--md;
  margin: $gutter--md 0;
  border: $gutter--sm/2 solid $color--black;
  
  &__top {
    border-bottom: $gutter--sm/2 solid $color--black;
    padding-bottom: $gutter--sm;
    margin-bottom: $gutter--sm;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  &__title {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    
    i {
      transform: translate3d(0, 0, 0);
      transition: $transition--bezier;
    }
    
    &:hover i {
      transform: translate3d(5px, 0, 0);
    }
  }
  
  &__like {
    display: flex;
    i {
      font-size: 1.7rem;
      transform: scale(1);
      transition: $transition--bezier;
    }
    h4 {
      padding: 0 $gutter--sm;
    }
    
    &:hover {
      i {
        transform: scale(1.2);
        content: 'favorite_border';
      }
    }
  }
}