body {
  --card-bg: #{$color--black};
  --card-color: #{$color--white};
}

.card {
  padding: $gutter--md*2;
  min-height: 250px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  position: relative;
  
  &--dot {
    width: $gutter--lg*4;
    height: $gutter--lg*4;
    position: relative;
    border-radius: 100%;
    overflow: hidden;
  }
  
  & > * {
    flex: 1 0 100%;
  }
  
  &--colored[type~='Subject'] {
    --card-bg: #{$color--green};
    --card-color: #{$color--white};
  }

  &--colored[type='Project'] {
    --card-bg: #{$color--purple};
    --card-color: #{$color--white};
  }
  &--colored[type='Subject 2'] {
    --card-bg: #{$color--red};
    --card-color: #{$color--white};
  }
  &--colored[type='Nerd'] {
    --card-bg: #{$color--blue};
    --card-color: #{$color--white};
  }
  
  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: v(card-bg);
    z-index: -1;
  }
  
  &__tag {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: right;
    padding: $gutter--md;
  }
}