$color--blue: #2F9BFF;
$color--purple: #691FDD;
$color--white: #FFFFFF;
$color--red: #FF3A86;
$color--green: #26EBA8;
$color--yellow: #FFC600;
$color--black: #23292E;

$container-width: 1200px;

$font-size-base: 1em;

$gutter--sm: 8px;
$gutter--md: 16px;
$gutter--lg: 32px;

$grid--gutter: $gutter--md;

$transition--base: all .1s ease-in-out;
$transition--bezier: all .5s cubic-bezier(.2, 0, 0, 1);
$transition--bezier-android: all .2s linear;
$transition--opacity: opacity .2s ease-in-out;