.header {
  &--lg {
    min-height: 65vh;

    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    .container {
      flex: 1 1 100%;
    }
  }

  &--md {
    height: 500px;
    position: relative;
    margin-bottom: -50px;
    margin-top: 100px;
    position: relative;
    grid-template-columns: 3fr 1fr;
    
    @media (max-width: 800px) {
      margin-top: 0px;
    }

  }

  &__title span {
    display: inline-block;
    margin-right: $gutter--md;
  }
}
