#app,
.view,
body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.container {
  max-width: $container-width;
  margin: 0 auto;
}

.layout {
  &--timetable {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-column-gap: $grid--gutter-col;
    grid-row-gap: $grid--gutter;

    @media (max-width: 1200px) {
      grid-column-gap: $grid--gutter-col*.5;
    }
    
    @media (max-width: 800px) {
      grid-template-columns: 1fr;
    }

  }

  &--time-list {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    grid-column-gap: $grid--gutter-col;
    grid-row-gap: $grid--gutter;
    grid-auto-flow: dense;
    grid-auto-rows: $container-width/3;
    
    @media (max-width: 1200px) {
      grid-column-gap: $grid--gutter-col*.5;
    }
  }

  &--detail {
    display: grid;
    grid-template-columns: 1fr 3fr;
    
    @media (max-width: 800px) {
      grid-template-columns: 1fr 4fr;
    }
  }
}
