@keyframes animateIn {
  from {
    transform: translate3d(0, 100px, 0);
    opacity: 0;
  }
  to {
    transform: translate3d(0px, 0, 0);
    opacity: 1;
  }
}

:root {
  --nav-list--transformY: -122px;
  --staggerIndex: 0;
}

.nav {
  display: flex;
  justify-content: flex-end;
  padding: $gutter--sm;
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;

  &__item {
    padding: $gutter--sm/2 $gutter--sm;
    color: inherit;
    text-decoration: none;
  }
}

.nav_vertical {
  position: relative;

  &__list {
    padding: calc(50vh - 130px) $gutter--lg;
  }

  &__item {
    padding: $gutter--lg*2.5 0;
    color: lighten($color--black, 50);
    max-width: calc((100%/3)*2);
    width: 100%;
    
    a {
      display: block;
      animation: animateIn .4s cubic-bezier(.2, 0, 0, 1);
      animation-delay: calc(var(--staggerIndex) * .1s);
      animation-fill-mode: both;
    }
    
    &--active {
      color: $color--black;
    }
  }
}
