.slider {
  display: flex;
  overflow-y: scroll;
  margin: 32px 0;
  scroll-snap-type: x mandatory;

  &__description {
    position: absolute;
    left: $gutter--lg*-2;
    padding: $gutter--md $gutter--lg;
    bottom: $gutter--lg*-2;
    background: $color--black;
    color: white;
    max-width: 40%;
    min-height: 140px;

    &__item {
      opacity: 0;
      max-height: 0;
      transition: $transition--base;

      &.in-view {
        max-height: 999px;
        opacity: 1;
      }
    }
  }

  &__col {
    position: relative;
    min-width: 800px;
    margin: 0 16px;
    scroll-snap-align: start;
    @include ratio(16/9)
  }

  &__item {
    @extend .p--abs;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    opacity: 0;
    transition: $transition--base;

  }

}

.course .slider {
  width: 120%;
}
