.timetable {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  grid-column-gap: $grid--gutter;
  grid-row-gap: $grid--gutter;
  grid-auto-flow: dense;
  margin-bottom: $gutter--lg*5;

  &__title {
    margin-top: $gutter--lg;
    margin-bottom: $gutter--sm;
  }

  &__card {
    &[type='Nerd'] {
      align-items: flex-start;
      height: 100%;

      .card__inner {
        position: sticky;
        top: $gutter--sm;
      }

    }

    &[type~='Subject'] {
      grid-column-start: 1;
      grid-column-end: span 2;
    }

    &[type='Project'] {
      grid-row-end: span 2;
    }

  }
}
