.timetable {
  @extend .layout--time-list;

  &__title {
    margin-top: $gutter--lg;
    margin-bottom: $gutter--sm;
  }

  &__card {
    &[type='Nerd'] {
      align-items: flex-start;
      height: 100%;

      .card__inner {
        position: sticky;
        top: $gutter--sm;
      }

    }

    &[type~='Subject'] {
      grid-column-start: 1;
      grid-column-end: span 2;
    }

    &[type='Project'] {
      grid-row-end: span 2;
    }

  }
}
