// Transition in the courselist
.course-list {
  &-enter-active, &-leave-active {
    transition: $transition--bezier;
    transition-delay: calc(var(--staggerIndex) * .1s);
  }
  &-enter, &-leave-to {
    opacity: 0;
    transform: translateX(-90px);
  }
}
// 
// // Transition in the course detail view
// .fade-article {
//   &-enter-active, &-leave-active {
//     transition: $transition--bezier;
//     transition-delay: calc(var(--staggerIndex) * .1s);
//   }
//   &-enter, &-leave-to {
//     opacity: 0;
//     transform: translateX(-90px);
//     max-height: 0px;
//   }
// }
