.flex {
  
  &--center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.p {
  &--rel {
    position: relative;
  }
  &--center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    
  }
  
  &--abs, &--fixed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  &--fixed {
    position: fixed;
  }
}

.ev--none {
  pointer-events: none;
}